doctype
html
	head
		meta(charset="utf-8")
		title jade演示一
	body
		h1 hollo jade!
		.btn.btn-default#id1 按钮样式
		ul.list-group
			li.list-group-item: a(href="http://", target="_blank") link
		//- p 这是一段文字
		// p 这是一段文字
		p
			| 11111111
			| 22222222
			| 33333333
		p.
			111111111
			222222222
			333333333	